@page "/vehicles"
@inject IVehicleService VehicleService
@inject NavigationManager NavigationManager

<PageTitle>Vehicles</PageTitle>

<h3>Vehicles</h3>

<table class="table">
    <thead>
        <tr>
            <th>Vehicle Model</th>
            <th>Vehicle level</th>
            <th>Vehicle Country</th>
            <th>Vehicle Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in VehicleService.Vehicles)
        {
            <tr>
                <td>@vehicle.VehicleModel</td>
                <td>@vehicle.VehicleLevel</td>
                <td>@vehicle.VehicleCountry</td>
                <td>@vehicle.VehicleType.Type</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowVehicle(vehicle.Id))" ><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateNewVehicle">Create New Vehicle</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await VehicleService.GetVehicles();
    }

    void ShowVehicle(int id)
    {
        NavigationManager.NavigateTo($"editvehicle/{id}");
    }

    void CreateNewVehicle()
    {
        NavigationManager.NavigateTo("/editvehicle");
    }

}
