@page "/vehicles"
@inject IVehicleService VehicleService

<PageTitle>Vehicles</PageTitle>

<h3>Vehicles</h3>

<table>
    <thead>
        <tr>
            <th>Vehicle Model</th>
            <th>Vehicle level</th>
            <th>Vehicle Country</th>
            <th>Vehicle Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @fo
    </tbody>
</table>

@code {

}
